<div class="container-xxl py-5">
    <div class="container" style="margin-left: 200px; margin-top: 50px ;">
       
        <div class="row g-4" style="position: relative;">
            <div class="col-lg-2" ></div>
            <div class="col-lg-4"  style="background-color: #074356;
             height: 500px ;
             position: absolute;
              top: 0; 
              left: 0;
              bottom: 0;">
                <h1 style="color: aliceblue; margin-top:80px;margin-left: 130px;">Contact</h1>
                <img src="/assets/img/g.png" style="margin-left: 12px; margin-top:100px;">
            </div>
             <div class="col-lg-6 " data-wow-delay="0.5s" style="border: 2px solid #074356; margin-top: 80px;">
                <form style="padding-left:280px;
                padding-top:20px;
                padding-bottom:20px;
                width: 600px;">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" >
                                <label for="name">Nom</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" >
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" >
                                <label for="subject">Sujet</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control"  id="message" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-6" ></div>
                        <div class="col-6">
                            <button class="monbtn" type="submit" style="color: aliceblue;">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
