<div class="container-xxl py-5" >
    <div class="container" style="background-color:#E5EFF2;">
        <div class="row g-3" style="margin-left:150px;">
           
            <div class="col-lg-3 col-sm-6 "style="margin-right:100px; ;" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <img src="/assets/img/book.png" alt="">
                        <h5 class="mb-3">+ 206 Cours en ligne</h5>
                        <p><br></p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" style="margin-right:90px;" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        
                        <img src="/assets/img/user.png" alt="">
                        <h5 class="mb-3">+ 186 UTILISATEUR de notre plateforme d'apprentissage</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <img src="/assets/img/vid.png" alt="">
                        <h5 class="mb-3">+ 100 tutoriels</h5>
                        <p><br></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
