<!-- Carousel Start -->
<app-header></app-header>
<!-- Carousel End -->

<!-- About Start -->
<app-about></app-about>
<!-- About End -->
<app-service></app-service>
<!-- Categories Start -->
<app-categories></app-categories>
<!-- Categories Start -->
<!-- Testimonial Start -->
<app-testimonial></app-testimonial>
<!-- Testimonial End -->
<app-contact></app-contact>
<app-footer></app-footer>

<!-- Back to Top -->
<a href="#" class="btn-lg monbtn btn-lg-square back-to-top"><i class="bi bi-arrow-up" style="color: aliceblue;"></i></a>
