<!--header section start -->
<app-header2 [titre]=" 'Mathématique' " [paragraphe]=" 'Ensemble vers les sommets mathématiques, en première ligne de la découverte et de l\'innovation.' "></app-header2>
 <!--header section end -->
 <div class="row">
   <div class="col-md-3 mb-2" >
       <app-scroll [titre]="'Cours Mathematique'"></app-scroll>
   </div>
   <div class="col-lg-6 " data-wow-delay="0.5s" style=" background-color: #7BADBD;margin-top: 400px; margin-left: 150px;width: 700px; ">
       <app-commentaire></app-commentaire>
    </div>
</div>
<app-footer></app-footer>
 


