<app-header2 [titre]=" 'Physique' " [paragraphe]=" 'Brisons les frontières de la physique ensemble, en première ligne de la découverte et de l\'innovation.' "></app-header2>
<div class="row">
    <div class="col-md-3 mb-2" >
        <app-scroll [titre]="'Cours physiques'"></app-scroll>
    </div>
    <div class="col-lg-6 " data-wow-delay="0.5s" style=" background-color: #7BADBD;margin-top: 400px; margin-left: 150px;width: 700px; ">
        <app-commentaire></app-commentaire>
     </div>
</div>
<app-footer></app-footer>