<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 750px;">
            
            <h1 class="mb-5" ><b>Qui sommes-nous Platforme</b> <br>
               <b>educatif</b> </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/aa.png" alt="" style="margin-top:0px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"  style="margin-top: 100px;">
              
                
                <p class="mb-4"><b>Elearn</b> est une platforme d’enseignement et d’apprentissage en ligne destinée aux étudiants scientifiques. Les cours sont tutorés par des agrégés, des profs d’enseignement et des experts à travers des vidéos et des Pdf et restent accessibles en replay sans limite de temps.</p>
                <p class="mb-4">Avec notre platformes vous pouvez trouver plusieurs services: </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2"></i>cours en ligne</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2"></i>vidéos explicatifs</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2"></i>series corrigés</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text me-2"></i>examens</p>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
  </div>
