<ng-container class="d-none d-md-block">
    <img class="d-none d-md-block" src="/assets/img/bb.png" alt="" style="margin-left: 570px;margin-top: -80px; height: 150px;">
    <h2  class="d-none d-md-block"style="color: #FFFFFF; margin-left:30px;margin-top: -50px;">Ecrire un commentaire</h2>
   
<form style="width: 600px;padding-top: 20px;">
    <div class="row g-3" style="margin-left:30px;">
        <div class="col-md-3">
            <div class="form-floating" style="margin-right: 50px;">
                <input type="text" class="form-control" id="name" style="width: 150px;" >
                <label for="name">Nom</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating" style="margin-right: 50px; margin-left: 40px;">
                <input type="email" class="form-control" id="email" style="width: 150px;" >
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating" style="margin-left: 80px;">
                <input type="text" class="form-control" id="email" style="width: 150px;" >
                <label for="email">Numero de tel</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <input type="text" class="form-control" id="subject" >
                <label for="subject">Commentaire</label>
            </div>
        </div>
        
        <div class="col-6" ></div>
        <div class="col-6">
            <button class="monbtn" type="submit" style="color: aliceblue; margin-left: 100px;margin-bottom: 15px;">Envoyer</button>
        </div>
    </div>
</form>

</ng-container>
