<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg  navbar-light  ">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="text"><i class="fa fa-book me-3"></i>Elearn</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link active">Accuiel</a>
            <a href="" class="nav-item nav-link">A propos</a>
          
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nos cours</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/mathematique" class="dropdown-item">Mathematique</a>
                    <a routerLink="/physique" class="dropdown-item">Physiques</a>
                    <a routerLink="/data" class="dropdown-item">Data science</a>
                    <a routerLink="/visionordinateur" class="dropdown-item">Vision ordinateur</a>
                </div>
            </div>
            <a href="" class="nav-item nav-link">Contact</a>
        </div>
     <button class="monbtn"><a routerLink="/login"  >Se connecter</a></button>   
    </div>
  </nav>
  <!-- Navbar End -->
