<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            
            <h1 class="mb-5"><b>Nos cours</b></h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" routerLink="/mathematique">
                            <img class="img-fluid" src="assets/img/cat-1.jpg" alt="">
                            <div class=" text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;background-color: rgb(214, 233, 249);">
                                <h5 class="text">Mathématique</h5>
                                <small class="text">49 Cours</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" routerLink="/physique">
                            <img class="img-fluid" src="assets/img/cat-2.jpg" alt="">
                            <div class=" text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;background-color: rgb(214, 233, 249);">
                                <h5 class="text">Physique</h5>
                                <small class="text">49 Cours</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" routerLink="/data">
                            <img class="img-fluid" src="assets/img/cat-3.jpg" alt="">
                            <div class=" text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;background-color: rgb(214, 233, 249);">
                                <h5 class="text">Data science</h5>
                                <small class="text">49 Cours</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" routerLink="/visionordinateur">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/cat-4.jpg" alt="" style="object-fit: cover;">
                    <div class=" text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;background-color: rgb(214, 233, 249);">
                        <h5 class="text">Vision ordinateur</h5>
                        <small class="text">49 Cours</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
