<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-left">
			<div class="col-md-6 text-left mb-5">
				<a routerLink="">
					<h2 class="text"  style="margin-top: -33px; color: aliceblue;"><i class="fa fa-book me-3"></i>Elearn</h2>
				</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					
					<div class="login-wrap p-4 p-md-5">
				  <div class="d-flex">
					  <div class="w-100">
						  <h3 class="mb-4"  style="text-align: center; color: #266F86;"><b>Sinscrire</b></h3>
					  </div>
							
				  </div>
						<form action="#" class="signin-form">
					  <div class="form-group mb-3">
						<input type="text" class="form-control" placeholder="Email" required>
						  
					  </div>
				<div class="form-group mb-3">
					
				  <input type="password" class="form-control" placeholder="Mot de passe" required>
				</div>
				<div class="form-group">
					<button type="submit" class=" monbtn " style="color: aliceblue; width: 440px;">CREER UN COMPTE</button>
				</div>
				
			  </form>
			  <p class="text-center">Vous avez déja un compte? <br><a  class="text-center" data-toggle="tab" routerLink="/login">se connecter</a></p>
			</div>
			<div class="img" style="background-image: url(/assets/img/ins.png);">
			</div>
		  </div>
			</div>
		</div>
	</div>
</section>