<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            
   <h1 class="mb-5"><b>Feed-back</b></h1>
</div>
<div class="client">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               
               <div><img  src="assets/img/cmt.png" class="client_img" class="client_taital"></div>
               <div class="client_section_2">
                  
                  <div class="client_right">
                     <h3 class="client_name">Asma</h3>
                     <p class="client_text">je suis étudiante en 1ere annee cycle preparatoire et les cours me vraiment aider a comprendre facilement les principe </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div><img src="assets/img/5.png"  class="client_taital"></div>
               <div class="client_section_2">
                  
                  <div class="client_right">
                     <h3 class="client_name">Salma</h3>
                     <p class="client_text">je suis étudiante en 1ere annee cycle preparatoire et les cours me vraiment aider a comprendre facilement les principe 🤗
                        merci  enormement. </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div ><img src="assets/img/team-3.jpg" class="client_taital " ></div>
               <div class="client_section_2">
                 
                  <div class="client_right">
                     <h3 class="client_name">Hedi</h3>
                     <p class="client_text">je suis étudiant en 1ere annee cycle preparatoire et les cours me vraiment aider a comprendre facilement les principe 🤗
                        merci  enormement. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
       <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
       <i class="fa fa-angle-right" style="font-size:24px"></i>
      </a>
   </div>
</div>